/* .ins-image {
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
}

.topic-instructors-name {
  font-size: 30px;
} */

.topic-instructors {
  margin: 10vh auto;
  min-width: 20vw;
  max-width: 60vh;
  min-height: 20vh;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
  transition: .6s ease;
  background: white;
  text-align: center;
  /* display: flex; */
  flex-direction: row;
}

.topic-instructors:hover {
  box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
  transform: translateY(-1px);
}

img {
  max-width: 200px;
  max-height: 200px;
}

.ins-image {
  border-radius: 4px 4px 0 0;
  margin-bottom: 2vh;
  border-radius: 50%;
}

.topic-instructors-name {
  font-size: 2.0rem;
  /* font-size: 30px; */
  color: #303336;
  letter-spacing: 1px;
  margin: 2vh 4vw;
  /* font-family: $serif; */
}

hr {
  width: 20%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}


.btn,
a.btn {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 4px;
  padding: 1vh 2vh;
  letter-spacing: .02rem;
  background: rgb(250, 163, 2);
  color: white;
  /* font-family:$san-serif; */
  /* font-size:.8rem; */
  /* box-shadow:0 0px 0px $color-shadow, */
  /* 0 0px 0px rgba(0, 0, 0, 0); */
}

.btn,
a.btn:hover {
  background: rgb(250, 195, 93);
  /* box-shadow:0 7px 14px $color-shadow, */
  /* 0 3px 6px rgba(0, 0, 0, .08); */
  transform: translateY(-1px);
}

.btn,
a.btn:active {
  /* box-shadow:0 4px 6px $color-shadow, */
  /* 0 1px 3px rgba(0, 0, 0, .12); */
  transform: translateY(1px);
}

.space {
  height: 4vh;
}
